In [1]:
## 1. write a code to reverse a string

#code 

stringg="anonymous"
stringg[::-1]

'suomynona'

In [2]:
## 2. write a code to count the no of vowels in the string

#code

sample2="hello, today we are learning python programming language"
count_vowels=0

for j in sample2:
    if j == 'a' or j == 'e' or j == 'i' or j == 'o' or j == 'u':
        count_vowels+=1

print("no of vowels ", count_vowels)

no of vowels  18

In [3]:
## 3. write a code to check if a string is palendrome or not 

## code 

sample3 = input("enter a string")
s=sample3[::-1]
if s == sample3:
    print("the series is palendrome")
else:
    print("series is not palendrome")

##conc: here s represents the reverse order of the string and since the s and sample3 both are same thus they are palendrome

enter a string rescue

series is not palendrome

In [6]:
## 4. write a code to check if two given strings are anagrams of each other 

##code 

str1= "flow"
str2= "woLf"

str1=str1.lower()
str2=str2.lower()


if len(str1) != len(str2):
    print("non anagram")
if sorted(str1) != sorted(str2):
    print("non anagram")
else :
    print("anagram")


##conc: firstly we have converted both our string in lower case
## to be anagram the two stirngs must have same no of elements and same characters which here is been ensured by a simple if statement

anagram

In [ ]:
## 5 write a code in python to find all the occurrences of a given substring within another string

#code

main_string = input("Enter the main string: ")
substring = input("Enter the substring to find: ")

# Initialize a list to store the positions of occurrences
positions = []
start = 0
while True:
    
    pos = main_string.find(substring, start)
    
    if pos == -1:
        break
    
    positions.append(pos)
    
    start = pos + 1

# Print the positions of the occurrences
if positions:
    print(f"The substring '{substring}' is found at positions: {positions}")
else:
    print(f"The substring '{substring}' was not found.")

In [ ]:
## 6. 

#code 

input_string = input("Enter a string: ")

char_count = {}

for char in input_string:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

for char, count in char_count.items():
    print(f"'{char}' occurs {count} time(s)")

In [7]:
## 7. write a code to determine a string has all unique characters

## code 

sample4="asdfgh"
sam_set=set()
unique=True

for i in sample4:
    if i in sam_set:
        unique = False
        break
    sam_set.add(i)

if unique:
    print(" characters are unique ")
else:
    print("characters are not unique")


##conc: since sam_set is a python set i.e, a set only contains all the unique elements , the for loop is ensuring all the characters in sample4 are unique

 characters are unique

In [8]:
## 8. write a code to convert a string to uppercase or lowercase

#code 

sample5="rAnDom"
print(sample5.lower())
print(sample5.upper())

random
RANDOM

In [9]:
## 9. write a code to code to count the no of characters in the string

#code 

sample6="kafka on the shore"
print(len(sample6))

18

In [10]:
## 10. write a code to concatinate two string without using + operator

# code 

string1="artificial intelligence "
string2="and machine learning"
string1_2=f"{string1}{string2}"
print(string1_2)

artificial intelligence and machine learning

In [11]:
## 11. write a code to remove all the occurance of a specifice element from a list  

#code

l=[1,2,4,5,5,7,5,5]

for i in l:
    if (5 in l):
        l.remove(5)
print(l)

[1, 2, 4, 7]

In [12]:
## 12. implement a code to find the second largest number in a given list of integers

#code 

L=[10,23,45,4,120,20,99]

sorted_list=L.sort()
second_largest_element=L[-2]
print(second_largest_element)

#conc: we know that the second largest element would be found at the second last index of a sorted list

99

In [13]:
## 14. write a code to reversse a list in-place without any reverse built in function

#code 

lis=[12,4,5,7,34,89]
lis[::-1]

[89, 34, 7, 5, 4, 12]

In [14]:
## 15. implement a code to find and remove any duplicates from the list while preserving the original order of the elements

## code

lis=[1,2,2,3,4,5,5,6,7,8,8,9]
set(lis)

#conc: the above problem can be solved by simple type conversion to a set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
## 16. create a code to check if a given list is sorted or not

#code

list=[1,2,5,4]
sorted_list=True
for i in range(0,len(list)-1):
    if list[i]>=list[i+1]:
        sorted_list=False
        break
if (sorted_list==True):
    print("list is sorted")
else:
    print("list is not sorted")

#conc: so initially we have used a variable named  sorted_list  as a boolean variable 
#then we have used a simple "for loop" to iterate over the elements of our list
# in the loop we have given a condition that if our sorted_list gets false we instantly breaks the loop

list is not sorted

In [16]:
## 17. write a code to merge two sorted list into single sorted list

#code

list1=[1,2,3,4]
list2=[11,12,13,14]

list3=list1+list2
list3

#conc: we have just used a simple plus operator to concatinate two lists

[1, 2, 3, 4, 11, 12, 13, 14]

In [17]:
## 18. implement a code to find the intersection of two given list

##code

list1=[1,2,3,4,5,6]
list2=[4,5,6,7,8,9]

intersection=[]
for i in list1:
    for j in list2:
        if i==j:
            intersection.append(i)

print("the intersection of two list are",intersection)

#conc: initially we have used two  lists(list1,list2) and an empty list(intersection) 
# in the for loop we have iterated over the two lists and passed one condition that if elements of list1 gets equals to elements of list 2,  append those elements to empty list "intersection" and then print intersection

the intersection of two list are [4, 5, 6]

In [18]:
## 19. create a code to find union of two list without duplicates

##code  

list1=[1,2,3,4,5]
list2=[5,6,7,8,9]

union=[]

for i in list1:
    union.append(i)
for j in list2:
    if j not in union:
        union.append(j)

print("the union of two list are", union)

#conc: initially we have used two  lists(list1,list2) and an empty list (union)
#in the for loop we have iterated over the two lists and passed one condition that append all elements of list1 to union and
#elements that are not present in union  append those elements from list 2

the union of two list are [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
## 20. write a code to shuffle a given list randomly without using any built-in function random

#code


import random

lst = [1,2,3,4,5,6,7,8,9]


length = len(lst)
for i in range(length):
    j = random.randint(0, length - 1)
    
    lst[i], lst[j] = lst[j],  lst[i]

print("Shuffled list:", lst)

#conc: we have imported a random module and with a simple for loop and a random module  function , we shuffled our list

Shuffled list: [3, 7, 5, 8, 2, 6, 4, 9, 1]

In [20]:
## 21. write a code that take two tuples as input and returns a new tuple that contains all the common elements of both the tuple

## code

t1=(1,2,3,4,5,6)
t2=(4,5,6,7,8,9)

lis=[]

for i in t1:
    for j in t2:
        if i==j:
            lis.append(i)
            t3=tuple(lis)
print(t3)

#conc: since there is no append method in tuples , we have first stored the elements into a list and then with the help of type 
# conversion , we converted this list into tuple

(4, 5, 6)

In [21]:
## 22. create a code that promotes user to enter two sets of integers seperated by commas.then print the intersection of the two sets

## code

s1=set(input("enter comma seperated integers"))
s2=set(input("enter comma seperated integers"))

for i in s1:
    for j in s2:
        if (i==j):
            print(i)

enter comma seperated integers 1,2,3
enter comma seperated integers 2,3,4

2
,
3

In [22]:
## 23. write a code to concatinate two tuples.The function should take the two tuples as input and returns a new tuple with the inputs

## code

t3=()
def ret_tup(t1,t2):
    t3=t1+t2
    return t3

ret_tup((1,2,3),(4,5,6))

#conc:-used an empty tuple to store the vales,- simple 'ret_tup' function that takes 2 tuples a input an returns a 3rd tuple as output

(1, 2, 3, 4, 5, 6)

In [29]:
## 24.Develop a code that promotes user to enter two sets of string.then print the elements that are present in first set but 2nd set

#code

s1=set(input("enter strings"))
s2=set(input("enter strings"))

s= s1-s2
print(s)

enter strings a b c
enter strings c

{' ', 'b', 'a'}

In [42]:
## 25. create a code that take a tuple and two integers as input. the function must return a new tuple containing elements from 
#original tuple within the specific range of indices 

#code

def sliced_tup(t1,int1,int2):
    return t1[int1:int2]

t1=tuple(input("enter tuple values"))
int1= int(input("enter lower range"))
int2= int(input("enter upper range"))

new_tup=sliced_tup(t1,int1,int2)
print(new_tup)

#conc:

enter tuple values 1,4,7,9
enter lower range 2
enter upper range 5

('4', ',', '7')

In [ ]:
## 26 write a code that promotes user to input two sets of characters and prints their union . write the code without using function

set1 = set(input("Enter the first set of characters (no spaces, e.g., 'abc'): "))
set2 = set(input("Enter the second set of characters (no spaces, e.g., 'bcd'): "))

union_set = set1 | set2

print("The union of the two sets is:", ''.join(sorted(union_set)))